.main {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  margin: 0 auto;
  max-width: 400px;
}
.main h2 span {
  font-weight: 600;
  font-size: 22px;
  color: #707070;
}
.main h2 {
  color: #949494;
  font-size: 22px;
}
.form-login {
  width: 400px;
  position: absolute;
  top: 50%;
  left: 50%;
  padding-top: 30px;
  padding-bottom: 30px;
  transform: translate(-50%,-50%);
  background: white;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.46);
  border-radius: 5px;
}
.form-login .wrap {
  margin-bottom: 25px;
  margin-left: 25px;
  margin-right: 25px;
}
.form-login .wrap input {
  background: #f0f0f0;
  height: 35px;
  color: #9b9b9b;
}
.btn {
  width: 95px;
  height: 35px;
  border-radius: 5px;
  background: #a9dd7d;
  color: white;
}
.form-login p {
  color: #b7b7b7;
  font-size: 11px;
}
.form-login p strong {
  color: #9b9b9b;
}
@media only screen and (max-width: 768px) {
  .main h2 {
    position: absolute;
    top: 30%;
    left: 42%;
  
  }
}
@media only screen and (min-width: 320px) and (max-width: 576px){
  .main h2 {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%,-50%);
  }
  .form-login {
    width: 100%;
  }
}

